/* 
 * Some shizzle
 */

.background {
    background-color: #f5f5f5;
}

.link {
    stroke: #ccc;
}

.descriptive-text {
    font-size: 1.25em;
}
#my-social-buttons {
    margin-top: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    color: #5e5e5e;
    font-family: Gibson-Regular;
}
p {
    font-family: Gibson-Regular;
}
/*
.container-thing {
    background: #3f92d2;
}
  */
#linkedin-button {
    margin-bottom: 0.5em;
}

#jumbo_text1 {
    color: #fff;
}

.regular-link {
    color: #474747;
    font-family: Gibson-Regular;
}
#name-header {
    margin-bottom: 0;
}
