  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- TODO (jmagnarelli): figure out a better way to do this small-home stuff so it works for people w/o JS -->
  <!-- TODO (jmagnarelli): maybe move this code out into a separate file -->
  <script type="text/javascript">

    $(document).ready(function() {
      // Let's slip into something a little more comfortable...
      if ((document.referrer.indexOf('magnarelli.sexy') > -1) && (self != top)) {
        $('body').addClass('sexy-background')
        $('body').removeClass('background')
      }
      // Only include single page grow/shrink stuff if we're not in the blog
      {% if page.url == '/index.html' %}

      // Go to the appropriate location (no :target stuff to avoid 'jumps')
      if (location.hash) {
        $('#homepage-display').addClass('small-home');
        $(location.hash + '-container').addClass('current-content');
      } else {
        $('#homepage-display').removeClass('small-home');
      }

      // Force redraw so we don't apply page-loaded and apply transitions too early
      $('body').hide().show(0);
      
      // Do the cool name thing
      $('body').addClass('page-loaded');
      {% endif %}


    })

    // Only include single page grow/shrink stuff if we're not in the blog
    {% if page.url == '/index.html' %}
    // Navigation
    $('#name-header').click(function() { 
                          $('#homepage-display').removeClass('small-home');
                          $('.content-container').removeClass('current-content');
                        });
    $('.nav-link').click(function() { 
                                    $('#homepage-display').addClass('small-home');
                                    var target = $(this).attr('id').substring(4) + '-container';
                                    $('.content-container').removeClass('current-content');
                                    $('#' + target).addClass('current-content');
                                  });
    {% endif %}
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49974915-1', 'magnarelli.org');
    ga('send', 'pageview');
  </script>