<div id="homepage-display" 
     {% if page.url != '/index.html' %}
     class="small-home"
     {% endif %}>
  <div class="row">
      <div class="large-12 columns">
          <h1 class="text-center" id="name-header"><a href="/#"> <span class="first">
              <span id="first-first">J</span>ames
            </span>
            <span class="last">
            <span id="first-last">M</span>agnarelli
            </span>
          </a></h1>
      </div>
  </div>
  <div class="nav-stuff">
    <div class="row">
      <div class="text-center">
        <a id="nav-who" class="nav-link" href="/#who">
          <div class="nav-text">who</div>
          <div class="nav-help-text">about</div>
        </a>
        <a id="nav-what" class="nav-link" href="/#what">
          <div class="nav-text">what</div>
          <div class="nav-help-text">projects</div>
        </a>
        <a id="nav-when"class="nav-link" href="/#when">
          <div class="nav-text">when</div>
          <div class="nav-help-text">career</div>
        </a>
        <a id="nav-where"class="nav-link" href="/#where">
          <div class="nav-text">where</div>
          <div class="nav-help-text">contact</div>
        </a>
        <a id="nav-why"class="nav-link" href="/#why">
          <div class="nav-text">why</div>
          <div class="nav-help-text">blog</div>
        </a>
      </div>
    </div>
  </div>
</div>