---
layout: default
---
{% include top_nav.html %}
<div class="post content-container current-content">

  <div class="row">
    <header class="post-header project-descr">
      <div class="row">
        <div class="large-12 columns">
          <h3>{{ page.title }}</h3>
        </div>
      </div>
      <div class="row post-information">
        <p class="large-8 columns left">
          {% for category in page.categories %}
          <a class="blog-category-link" href="{{ site.baseurl }}blog/categories/{{ category }}">{{ category }}</a>
          {% endfor %}
        </p>
      	<p class="meta large-4 columns right">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>
    </header>
  </div>
  <br>
  <div class="row">
    <article class="post-content large-12 columns">
    {{ content }}
    </article>
  </div>

  <div class='row'>
    {% include comment_infrastructure.html %}
  </div>
</div>
