<div class="container">

  <div class="row">
    <div class="large-4 columns">
        <img src="misc/self.jpg">
    </div>
    <div class="large-8 columns ">
        <h3>Contact Information</h3>
        <ul class="vcard">
            <li class="fn">James Magnarelli</li>
            <li id="linkedin-button"><a href="http://www.linkedin.com/in/jmagnare" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View James Magnarelli's LinkedIn profile" style="vertical-align:middle" border="0">LinkedIn</span></a></li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=jmagnare&type=follow"
                        allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe></li>
            <li><a href="misc/newresume.pdf">Résumé</a></li>
            <li class="email"><a href="#">jmagnare@gmail.com</a></li>
        </ul>
         <!--
        <div class="row">
            <div class="large-6 columns">
                <p></p>
            </div>
            <div class="large-6 columns">
                <ul class="nobullet">
                    <li ng-repeat="thing in awesomeThings">
                        <a href="{{thing[1]}}">{{thing[0]}}</a>
                    </li>
                </ul>
            </div>
        </div>
        -->
  </div>
</div>
